
.inleft-enter-active, .inleft-leave-active 
	transition: transform .5s

.inleft-enter
	transform: translateX(-100%)

.inleft-leave-to 
	transform: translateX(100vw)

.inleft2-enter-active, .inleft2-leave-active 
	transition: transform 1.5s

.inleft2-enter
	transform: translateX(-100vw)

.inleft2-leave-to 
	transform: translateX(100vw)

.menuPunktsTrans-enter-active, .menuPunktsTrans-leave-active 
	transition: transform .5s, opacity .5s

.menuPunktsTrans-enter
	transform: translateX(-100px)
	opacity: 0

.menuPunktsTrans-leave-to 
	transform: translateX(-100px)
	opacity: 0


.inright-enter-active, .inright-leave-active 
	transition: transform .5s

.inright-enter, .inright-leave-to 
	transform: translateX(-100%)


