// Desktop: slide from left
//          slide to right
// Mobile: slide from right
//         slide to left
.inleft-enter-active, .inleft-leave-active 
	transition: transform .5s
	@include sm{transition: transform 0.4s}

.inleft-enter
	transform: translateX(-100%)
	@include sm{transform: translateX(100vw)}

.inleft-leave-to 
	transform: translateX(100vw)
	@include sm{transform: translateX(-100%)}

// Desktop: slide from left
//          slide to right
// Mobile: slide from right
//         fade-out

.inleft_fadeout-mob-enter-active, .inleft_fadeout-mob-leave-active 
	transition: transform .5s
	@include sm{transition: transform 0.4s, opacity 0.4s}

.inleft_fadeout-mob-enter
	transform: translateX(-100%)
	@include sm{transform: translateX(100vw)}

.inleft_fadeout-mob-leave-to 
	transform: translateX(100vw)
	transition: transform 0.4s, opacity 0.4s
	@include sm{opacity: 0; transform: none}

// Desktop: slide from left
//          slide to right
// Mobile: slide from right
//         fade-out

.inleft_fade-mob-enter-active
	transition: transform .5s
	@include sm{transition: opacity 0.4s}

.inleft_fade-mob-leave-active 
	transition: transform .5s
	@include sm{transition: opacity 0.4s}

.inleft_fade-mob-enter
	transform: translateX(-100%)
	@include sm{opacity: 0; transform: none}

.inleft_fade-mob-leave-to 
	transform: translateX(100vw)
	transition: opacity 0.4s
	@include sm{opacity: 0; transform: none}

// Desktop: slide from left
//          slide to left
// Mobile: slide from right
//         slide to left

.inleftall-enter-active, .inleftall-leave-active 
	transition: transform .5s

.inleftall-enter
	transform: translateX(-100%)

.inleftall-leave-to 
	transform: translateX(-100vw)

//Anims for carousel 
.inleft2-enter-active, .inleft2-leave-active 
	transition: transform 1.5s

.inleft2-enter
	transform: translateX(-100vw)

.inleft2-leave-to 
	transform: translateX(100vw)

.inright2-enter-active, .inright2-leave-active 
	transition: transform 1.5s

.inright2-enter
	transform: translateX(100vw)

.inright2-leave-to 
	transform: translateX(-100vw)
	// @include sm{transform: translateX(-100%)}

.menuPunktsTrans-enter-active
	transition: transform .5s, opacity 1s

.menuPunktsTrans-leave-active 
	transition: transform .5s, opacity 0.3s

.menuPunktsTrans-enter
	transform: translateX(-50px)
	opacity: 0

.menuPunktsTrans-leave-to 
	transform: translateX(-50px)
	opacity: 0


.inright-enter-active, .inright-leave-active 
	transition: transform .5s

.inright-enter, .inright-leave-to 
	transform: translateX(-100%)

.fadein-enter-active, .fadein-leave-active 
	transition: opacity 0.5s

.fadein-enter, .fadein-leave-to 
	opacity: 0

